body{
  background: linear-gradient(to right,#3f3839,#e00724);
  text-align:center;
  font-family:Arial,sans-serif;
  margin:20px;

}
h1{
  color:#250d19;
  font-size: 45px;
}
h2{
  color:#1b75fc;
}
p{
  font-size:20px;
  color:#dbfd19;
}

img{
  border-radius: 20px;
  margin-top:2px;

}
button{
  background-color:rgb(77, 38, 61);
  color:white;
  font-size:18px;
  padding:12px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}
button:hover{
  transform:scale(1.05);
}
#surpriseMessage{
  margin-top: 30px;
  font-size: 22px;
  color:#8b0000c4
  font-weight: bold;

}